html, body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.element {
    width: 50%;
    text-align: center;
}

.element-grid,
.element-img {
    width: 500px;
    height: 306px;
    margin: 0 auto;
}

.element-grid {
    background: #000;
    border: 4px solid;
    box-sizing: border-box;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(20, [col] 22px ) ;
    grid-template-rows: repeat(16, [row] 16px);
}

.grid-item-1 {
    grid-column: col 1 / span 1;
    grid-row: row / span 3 ;
    background: #E4E4E4;
}

.grid-item-2 {
    grid-column: col 2 / span 8;
    grid-row: row ;
    background: #E4E4E4;
}

.grid-item-3 {
    grid-column: col 10 / span 8;
    grid-row: row ;
    background: #E4E4E4;
}

.grid-item-4 {
    grid-column: col 18 / span 1;
    grid-row: row / span 8;
    background: #E4E4E4;
}
.grid-item-5 {
    grid-column: col 19 / span 1;
    grid-row: row / span 8;
    background: #F0BF31;
}
.grid-item-6 {
    grid-column: col 1 / span 1;
    grid-row: row 4 / span 6;
    background: #000;
}

.grid-item-7 {
    grid-column: col 2 / span 8;
    grid-row: row 2 / span 2 ;
    background: #150E6E;
}

.grid-item-8 {
    grid-column: col 10 / span 3;
    grid-row: row 2 / span 2 ;
    background: #E4E4E4;
}

.grid-item-9 {
    grid-column: col 13 / span 5;
    grid-row: row 2 / span 2 ;
    background: #150E6E;
}

.grid-item-10 {
    grid-column: col 2 / span 2;
    grid-row: row 4 / span 7;
    background: #E4E4E4;
}
.grid-item-11 {
    grid-column: col 4 / span 1;
    grid-row: row 4 / span 11;
    background: #000;
}
.grid-item-12 {
    grid-column: col 5 / span 4;
    grid-row: row 4 / span 5;
    background: #E4E4E4;
}
.grid-item-13 {
    grid-column: col 9 / span 1;
    grid-row: row 4 / span 5;
    background: #E4E4E4;
}
.grid-item-14 {
    grid-column: col 10 / span 3;
    grid-row: row 4 / span 5;
    background: #F0BF31;
}
.grid-item-15 {
    grid-column: col 13 / span 4;
    grid-row: row 4 / span 5;
    background: #C10A13;
}
.grid-item-16 {
    grid-column: col 17 / span 1;
    grid-row: row 4 / span 5;
    background: #C10A13;
}
.grid-item-17 {
    grid-column: col 1 / span 1;
    grid-row: row 11 / span 4;
    background: #E4E4E4;
}
.grid-item-18 {
    grid-column: col 1 / span 4;
    grid-row: row 15 / span 1;
    background: #E4E4E4;
}
.grid-item-19 {
    grid-column: col 2 / span 2;
    grid-row: row 11 / span 4;
    background: #C10A13;
}
.grid-item-22 {
    grid-column: col 5 / span 1;
    grid-row: row 9 / span 2;
    background: #F0BF31;
}
.grid-item-21 {
    grid-column: col 5 / span 1;
    grid-row: row 11 / span 5;
    background: #F0BF31;
}
.grid-item-23 {
    grid-column: col 6 / span 4;
    grid-row: row 9 / span 2;
    background: #C10A13;
}
.grid-item-24 {
    grid-column: col 10 / span 3;
    grid-row: row 9 / span 2;
    background: #150E6E;
}
.grid-item-25 {
    grid-column: col 13 / span 4;
    grid-row: row 9 / span 2;
    background: #E4E4E4;
}
.grid-item-26 {
    grid-column: col 17 / span 1;
    grid-row: row 9 / span 2;
    background: #E4E4E4;
}
.grid-item-27 {
    grid-column: col 18 / span 2;
    grid-row: row 9 / span 2;
    background: #000;
}

.grid-item-28 {
    grid-column: col 6 / span 6;
    grid-row: row 11 / span 3;
    background: #E4E4E4;
}

.grid-item-29 {
    grid-column: col 6 / span 4;
    grid-row: row 14 / span 2;
    background: #C10A13;
}

.grid-item-30 {
    grid-column: col 12 / span 3;
    grid-row: row 11 / span 3;
    background: #E4E4E4;
}
.grid-item-31 {
    grid-column: col 15 / span 2;
    grid-row: row 11 / span 3;
    background: #150E6E;
}
.grid-item-32 {
    grid-column: col 17 / span 1;
    grid-row: row 11 / span 3;
    background: #F0BF31;
}
.grid-item-33 {
    grid-column: col 18 / span 2;
    grid-row: row 11 / span 3;
    background: #E4E4E4;
}

.grid-item-34 {
    grid-column: col 10 / span 5;
    grid-row: row 14 / span 2;
    background: #000;
}
.grid-item-35 {
    grid-column: col 15 / span 5;
    grid-row: row 14 / span 2;
    background: #E4E4E4;
}